//================================================================
// Typography
//================================================================

$font-stack: "Helvetica Neue", Helvetica, Arial;
$font-stack-secondary: Tahoma, Arial, Helvetica, sans-serif;
// $font-size-base: 16px;
// $font-size-navbar: 18px;
// $font-size-content: 14px;

//================================================================
// Colors
//================================================================

$background-color: #000000;
$primary-color: #240c1c;
$light-color: #ccc;
$secondary-color: #94644c;
$text-primary-color: #c7bf93;
$text-secondary-color: #7c4434;
$button-color: #3c1424;

//================================================================
// Colors
//================================================================
